{% extends 'base.html' %} {% block content %}
<h2>{{ page_title }}</h2>

<p>Game of Thrones is roughly based on the storylines of A Song of Ice and Fire, set in the fictional Seven Kingdoms of Westeros and the continent of Essos. The series chronicles the violent dynastic struggles among the realm's noble families for the Iron
    Throne, while other families fight for independence from it. It opens with additional threats in the icy North and Essos in the east. Showrunner David Benioff jokingly suggested "The Sopranos in Middle-earth" as Game of Thrones' tagline, referring
    to its intrigue-filled plot and dark tone in a fantasy setting of magic and dragons. In a 2012 study, out of 40 recent TV drama shows, Game of Thrones ranked second in deaths per episode, averaging 14 deaths.</p>

{% for member in company_data %}
<div class="row featurette">
    <div class="col-md-7">
        <h3>{{ member.name }}</h3>
        <p>{{ member.description }}</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
    </div>
</div>
<hr class="featurette-divider"> {% endfor %} {% endblock %}
