{% extends 'base.html' %} {% block content %}
<h2>About</h2>
<p>
    Game of Thrones is roughly based on the storylines of A Song of Ice and Fire, set in the fictional Seven Kingdoms of Westeros and the continent of Essos. The series chronicles the violent dynastic struggles among the realm's noble families for the Iron
    Throne, while other families fight for independence from it. It opens with additional threats in the icy North and Essos in the east.[6] Showrunner David Benioff jokingly suggested "The Sopranos in Middle-earth" as Game of Thrones' tagline, referring
    to its intrigue-filled plot and dark tone in a fantasy setting of magic and dragons. In a 2012 study, out of 40 recent TV drama shows, Game of Thrones ranked second in deaths per episode, averaging 14 deaths.
</p>
<div>
    <h2 class="text-center p-5"> The Great Houses</h2>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>House Targaryen of Dragonstone</h3>
        <p>
            Is a Great House of Westeros and was the ruling royal House of the Seven Kingdoms for three centuries since it conquered and unified the realm, before it was deposed during Robert's Rebellion and House Baratheon replaced it as the new royal House. The
            two surviving Targaryens fled into exile to the Free Cities of Essos across the Narrow Sea. Currently based on Dragonstone off of the eastern coast of Westeros, House Targaryen seeks to retake the Seven Kingdoms from House Lannister, who formally
            replaced House Baratheon as the royal House following the destruction of the Great Sept of Baelor. House Targaryen's sigil is a three-headed red dragon on a black background, and their house words are "Fire and Blood."
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/4/43/House-Targaryen-Main-Shield.PNG/revision/latest?cb=20181113055101">
    </div>
</div>
<div class="row featurrette">
    <div class="col-md-7 order-12">
        <h3>House Stark of Winterfell</h3>
        <p>
            Is a Great House of Westeros, ruling over the vast region known as the North from their seat in Winterfell. It is one of the oldest lines of Westerosi nobility by far, claiming a line of descent stretching back over eight thousand years. Before the Targaryen
            conquest, as well as during the War of the Five Kings and Daenerys Targaryen's invasion of Westeros, the leaders of House Stark ruled over the region as the Kings in the North. Their rule in the North seemingly ended after the events of the
            Red Wedding when House Frey and House Bolton betrayed House Stark after forming a secret alliance with House Lannister, during which Roose Bolton murdered King Robb Stark. Both the North and Winterfell were taken over by House Bolton. However,
            the Bolton's hold was jeopardized when Sansa Stark escaped their clutches after learning her brothers Bran and Rickon Stark were still alive and reunited with her half-brother Jon Snow at Castle Black. Sansa and Jon marched on the Boltons
            to save their younger brother Rickon, who was later murdered by Ramsay Bolton, and retake their family home Winterfell. House Stark was restored to their former stature after the Battle of the Bastards. The Stark victory led to House Stark's
            return to royal status in the North with their bannermen declaring Ned Stark's illegitimate son Jon Snow as the King in the North. He later abdicated his title as king in order to gain the full support of Daenerys Targaryen in the Great War,
            becoming the Warden of the North. House Stark's sigil is a grey direwolf on a white background, over a green escutcheon. They are one of the few noble Houses whose family motto is not a boast or threat. Instead, the House Stark family motto
            is a warning, one that, no matter the circumstances, will always be relevant: "Winter Is Coming."
        </p>
    </div>
    <div class="col md-5 order-1">
        <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/8/8a/House-Stark-Main-Shield.PNG/revision/latest?cb=20170101103142">
    </div>
</div>
<div class="row featurrette">
    <div class="col-md-7">
        <h3>House Lannister of Casterly Rock</h3>
        <p>
            Is one of the Great Houses of Westeros, one of its richest and most powerful families and oldest dynasties. It is also the current royal house of the Seven Kingdoms following the extinction of House Baratheon of King's Landing, which had been their puppet
            house during the War of the Five Kings. The Lannisters rule over the Westerlands. Their seat is Casterly Rock, a massive rocky promontory overlooking the Sunset Sea which has had habitations and fortifications built into it over the millennia.
            They are the Lords Paramount of the Westerlands and Wardens of the West. As the new royal house, they also rule directly over the Crownlands from their seat of the Red Keep in King's Landing, the traditional seat of the royal family. House
            Lannister's Heraldry consists of a golden lion on a crimson background, and their House words are "Hear me roar!", which are rarely mentioned.[1] Their unofficial motto, which is as well known as the official one, is "A Lannister always pays
            his debts" - which is used much more often and mostly in negative context, though it can also be used in the original, literal sense. The incestuous relationship of Cersei and Jaime has been concealed in a conspiracy. Their son Joffrey Baratheon
            has claimed the Iron Throne on the premise that he was actually fathered by the late King Robert Baratheon. Lord Tywin was a key supporter of his reign in the War of the Five Kings.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/8/8a/House-Lannister-Main-Shield.PNG/revision/latest?cb=20170101095357">
    </div>
</div>
<div class="row featurrette">
    <div class="col-md-7 order-12">
        <h3>House Arryn of the Eyrie</h3>
        <p>
            is one of the Great Houses of Westeros. It has ruled over the Vale of Arryn for millennia, originally as the Kings of Mountain and Vale and more recently as Defenders of the Vale and Wardens of the East under the Targaryen, Baratheon, and Lannister dynasties.
            The nominal head of House Arryn is Robin Arryn, the Lord of the Eyrie, with Yohn Royce holding actual power over the house. Their lands are in the central-eastern region of the continent. Their seat is the Eyrie, ancestral seat of the Mountain
            Kings. House Arryn's sigil is a white crescent moon and falcon on a blue field. Their house words are "As High as Honor." At the start of the series, Lord Jon Arryn was killed under suspicious circumstances. His widow Lysa blamed House Lannister
            and sought refuge in the Eyrie. Despite her enmity towards the Lannisters, she remained neutral in the War of the Five Kings and aimed to use the forces of the Vale to defend Robin and the Eyrie if necessary. After killing Lysa and making
            it appear like an accident, Lord Petyr Baelish becomes Lord Protector of the Vale until young Robin comes of age. Under his rule, supervised by Baelish, the Vale assists House Stark in toppling House Bolton in the North during the Battle of
            the Bastards. After the battle, the Vale declares for House Stark and becomes part of the Kingdom of the North in defiance of the Iron Throne, though they later begrudgingly return to the jurisdiction of their historic rulers, House Targaryen,
            after Jon Snow bends the knee to Daenerys Targaryen.
        </p>
    </div>
    <div class="col-md-5 order-1">
        <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/1/15/House-Arryn-Main-Shield.PNG/revision/latest?cb=20170101094153">
    </div>
</div>
<div class="row featurrette">
    <div class="col-md-7">
        <h3>House Greyjoy of Pyke</h3>
        <p>
            is one of the Great Houses of Westeros. It rules over the Iron Islands, a harsh and bleak collection of islands off the west coast of Westeros, from the castle at Pyke. The head of the house is the Lord Reaper of Pyke. House Greyjoy's sigil is traditionally
            a golden kraken on a black field. Their house words are "We Do Not Sow," although the phrase "What Is Dead May Never Die" is also closely associated with House Greyjoy and their bannermen, as they are associated with the faith of the Drowned
            God. House Greyjoy had been in open rebellion against the Iron Throne since the War of the Five Kings, during which it sought independence for the Iron Islands once more. However, following the death of King Balon Greyjoy and the election
            of his brother, Euron, as the new King of the Iron Islands, House Greyjoy was divided between Euron and his followers, and Balon's surviving children, Yara and Theon, and their followers. Yara's faction, which had aligned with House Targaryen,
            was defeated by Euron, who has aligned himself with House Lannister upon the beginning of Daenerys Targaryen's invasion of Westeros.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/8/86/House-Greyjoy-Main-Shield.PNG/revision/latest?cb=20170523015836">
    </div>
</div>
<div class="row featurrette">
    <div class="col-md-7 order-12">
        <h3>House Baratheon of Storm's End</h3>
        <p>
            is a legally extinct Great House of Westeros. A cadet branch was formerly the royal house, but House Lannister now controls the throne. House Baratheon traditionally ruled the Stormlands on the eastern coast of Westeros, aptly named for its frequent storms,
            from their seat of Storm's End. House Baratheon became the royal house of the Seven Kingdoms after Robert Baratheon led a rebellion against the Targaryen dynasty. At the end of the rebellion, Robert ascended the Iron Throne as Robert I and
            married Cersei Lannister after the death of Lyanna Stark. House Baratheon's sigil is a crowned black stag on a gold background and their house words are "Ours Is the Fury." House Baratheon is now legally extinct due to Stannis Baratheon's
            death, but the family bloodline lives on through Gendry, an unrecognized bastard son of Robert Baratheon and the last known living person with true blood ties to the Baratheon family.
        </p>
    </div>
    <div class="col-md-5 order-1">
        <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/0/00/House-Baratheon-Main-Shield.PNG/revision/latest?cb=20170519002924">
    </div>
</div>
<div class="row featurrette">
    <div class="col-md-7">
        <h3>House Tyrell of Highgarden</h3>
        <p>
            is an extinct Great House of Westeros. It ruled over the Reach, a vast, fertile, and heavily-populated region of southwestern Westeros, from their castle-seat of Highgarden as Lords Paramount of the Reach and Wardens of the South after taking control
            of the region from House Gardener during the Targaryen conquest. The House was formerly led by Lord Mace Tyrell. Mace's son Loras was a noted tournament knight and, secretly, the lover of Lord Renly Baratheon. Mace's daughter Margaery married
            Renly when he crowned himself king in the War of the Five Kings to cement an alliance between Renly and her father. Following Renly's death, Margaery was then married to King Joffrey Baratheon before his assassination at his wedding feast.
            She was then married to his younger brother, King Tommen Baratheon. Mace's mother, the indomitable Olenna Tyrell, assumed House Tyrell's lordship after Margaery, Loras, and Mace Tyrell were all killed by wildfire at the destruction of the
            Great Sept of Baelor. Under Olenna, House Tyrell realigned itself with House Targaryen and declared for Daenerys Targaryen in opposition against Cersei Lannister, who had orchestrated the downfall of House Tyrell. With the death of Olenna
            after the Sack of Highgarden, the House has officially become extinct. The Tyrell sigil is a golden rose on a pale green field. Their house words are "Growing Strong."
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/gameofthrones/images/c/cf/House-Tyrell-Main-Shield.PNG/revision/latest?cb=20170108163035">
    </div>
</div>
{% endblock %}
