{% extends 'base.html' %} {% block content %}
<h2>Home Page</h2>
<h2><i>The most iconic quotes of the series</i></h2>

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    “Never forget what you are. The rest of the world will not. Wear it like armor, and it can never be used to hurt you.”
                </h2>
                <h4 class="post-subtitle">
                  —Tyrion’s sage advice to Jon about being a bastard
                </h4>
            </a>
            <p class="post-meta">
             Tyrion Lannister</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    “Any man who must say, ‘I am the king,’ is no true king. I’ll make sure you understand that when I’ve won your war for you.”
                </h2>
                <h4>
                    —Patriarch Tywin putting his grandson Joffrey in his place after he throws a tantrum when Tyrion speaks to him disrespectfully
                </h4>
            </a>
            <p class="post-meta">
                Tywin Lannister</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    “There is only one thing we say to death: Not today.”
                </h2>
                <h4 class="post-subtitle">
                    —Swordsman extraordinaire Syrio Forel to Arya, while teaching her how to fight
                </h4>
            </a>
            <p class="post-meta">Syrio Forel</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    “The man who passes the sentence should swing the sword.”
                </h2>
                <h4 class="post-subtitle">
                    —The honorable Ned Stark explaining to Bran why he had to kill a Night’s Watch deserter
                </h4>
            </a>
            <p class="post-meta">Ned Stark</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    “You know nothing, Jon Snow.”
                </h2>
                <h4 class="post-subtitle">
                  —Ygritte’s catchphrase of sorts for her sometime enemy/sometime lover John Snow
                </h4>
            </a>
            <p class="post-meta">
             Ygritte</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    “When you play the game of thrones, you win or you die. There is no middle ground.”
                </h2>
                <h4 class="post-subtitle">
                    —Cersei telling Ned he made a big mistake by not taking the Iron Throne when he had the shot
                </h4>
            </a>
            <p class="post-meta">Cersei Lannister</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}